# Well known noises
*~
._*
.~lock.*
.DS_Store

# Editors, IDEs
nbproject
.buildpath
.idea
*.sublime-project
*.sublime-workspace

# Composer related
vendor/
composer.lock

# Logs
ERR.log

# Build automation related
build/
index.php